<!DOCTYPE html>
	<html>
		<head>
			<title>SalesCart POC Home</title>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
			<script src="StaticContents/scripts/SalesCartAppModule.js"></script>
			<script src="StaticContents/scripts/login/LoginController.js"></script>
			<link rel="stylesheet" type="text/css" href="StaticContents/Styles/master.css"/>			
		</head>
		<body ng-app="SalesCartAppModule">
			<div id="header" class="header">
				Header section
			</div>
			<div id="loginSection" class="loginSection">
				<div id="categoryMenu" class="categoryMenu">
					Category
				</div>
				<div id="emptySection" class="emptySection">
					Empty Section
				</div>
				<div id="loginbtncntr" class="loginbtncntr">
					<form ng-controller="loginController" novalidate ng-submit="Validate(credential)">
						<label>Name: <input type="text" name="userId" id="txtUserId" ng-model="credential.userid"/></label><br />
						<label>Password: <input type="password" name="pwd" id="txtPwd" ng-model="credential.password"/></label><br/>						
						<input type="submit" id="loginBtn" value="Login"/>
					</form>
				</div>
			</div>
			<div id="mainArea" class="mainbody">
				B
			</div>
			<div id="footer" class="footer">
				Footer section
			</div>
		</body>
	</html >